.v-textarea .v-text-field__slot {
  height: 100%;
}
.v-textarea .v-text-field__slot textarea {
  height: 100%;
}.site-search-entry .search[data-v-565e224d] {
  max-width: 400px;
}
.site-search-entry .cat[data-v-565e224d] {
  max-width: 40vw;
}