
.number[data-v-66c83107] {
  text-align: right;
}
.set-sites .search[data-v-ef65d3be] {
  max-width: 400px;
}
.set-sites .siteIcon[data-v-ef65d3be] {
  margin: 0;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}