.keyDescription[data-v-5f0a65dd] {
  padding-top: 10px;
}
.keyDescription table tr td[data-v-5f0a65dd] {
  padding: 3px;
}
.keyDescription table tr td[data-v-5f0a65dd]:first-child {
  text-align: right;
  padding-right: 10px;
}.set-download-clients .search[data-v-69617754] {
  max-width: 400px;
}