.v-textarea .v-text-field__slot {
  height: 100%;
}
.v-textarea .v-text-field__slot textarea {
  height: 100%;
}.body[data-v-efedd329] {
  position: absolute;
  bottom: 65px;
  top: 65px;
  overflow-y: auto;
}
.toolbar[data-v-efedd329] {
  position: absolute;
  bottom: 0;
  right: 0;
}.body[data-v-e92e93b4] {
  position: absolute;
  bottom: 65px;
  top: 65px;
  overflow-y: auto;
}
.toolbar[data-v-e92e93b4] {
  position: absolute;
  bottom: 0;
  right: 0;
}.site-plugins .search[data-v-f7fccac8] {
  max-width: 400px;
}