.container[data-v-ffa1e859] {
  width: 900px;
  padding: 0;
}
.container .charts[data-v-ffa1e859] {
  background-color: white;
}
.container .chart[data-v-ffa1e859] {
  min-width: 320px;
  max-width: 800px;
  height: 240px;
  margin: 0 auto;
}
.theme--dark .container .charts[data-v-ffa1e859] {
  background-color: #9e9e9e;
}